@import 'settings.css';


body{
    background: var(--main-background);
}

li.navigate>a:link { 
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

li.navigate>a {
    color: black;
}
li.navigate>a:after {
    /* background-color: orange; */
    display: block;
    content: "";
    background-color: orange;
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
li.navigate>a:hover:after,
li.navigate>a:focus:after {
    width: 100%;
}

/* -------------------------- end -------------------- */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vw;
}
header {    
    width: 100%;
    height: 1000px;
    background-image: url(https://s1.1zoom.ru/big0/709/Soups_Cabbage_White_background_591978_1280x853.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /*pallax scrolling effect*/
}
.bot-header, ul.navigate-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul.navigate-all {
    width: 15vw;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    font-size: 30px;
}

li.navigate {
    padding: 5px;
}
.logotip>img{
    width: 300px;
}

/* -------------------------------------end============--------------- */


.container {
    width: 85%;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-areas: 
    "name content";
    width: 80%;
}

.name-gor {
    grid-area: name;
  }
.cost {
    grid-area: content;
}


.title-menu {
    font-size: 30px;
    color: orange;
    border-bottom: 1px solid orange;
    font-family: 'title-fonts';
    width: 45%;

}

.name-gor {
    font-size: 20px;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ---------------------------end--------------------------- */



.pomin-all {
    background-color: #dfe6e9;
    font-family: 'Source Sans Pro', sans-serif;
    height: 600px;
}
.side {
    display: flex;
    background-color: white;
    text-align: center;
}

.not-logotip>img{
    width: 100%;
    height: 100%;
}

.left-side {
    display: grid;
    grid-template-areas: 
    "block"
    "under"
    "btn";
}

.block-menu {
    grid-area: block;
  }
.under-block {
    grid-area: under;
}
.button-container {
    grid-area: btn;
}



.title-block {
    text-align: center
}
.top-title {
    font-size: 30px;
    color: gray;
    border-bottom: 2px solid orange;
    display: inline-block;
    font-family: 'title-fonts';
    margin: 50px;
}
.title-pomin {
    font-size: 40px;  
    padding-bottom: 50px;
    font-family: 'EB Garamond', serif;
}

.block-menu {
    font-size: 25px;
    color: orange;
    font-family: 'Montserrat', sans-serif;
}
.under-block {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}


b {
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #f1c40f;
    font-family: 'Montserrat', sans-serif; 
    transition: .4s;
    
  }
  b:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0,0,0,0);
    transition: .4s;
  }
  .button-container b:hover:after {
    border-color: #f1c40f;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }
/* -------------------------- end -----------------*/
